@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
.flexcenter, .menucards, span, header, #explore, #instructions ul, #restaurantcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexspacebtwn, #restaurantname, .menuitem, .restaurantcarddetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.fa-arrow-left {
  font-size: 18px;
}

.menuimg {
  width: 100%;
  position: absolute;
}

@media only screen and (min-width: 992px) {
  .menuimg {
    height: 750px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -150px;
    z-index: -2;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menuimg {
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -75px;
    z-index: -2;
  }
}

.menuimg1 {
  width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -110px;
  z-index: -2;
}

@media only screen and (min-width: 992px) {
  .menuimg1 {
    height: 750px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -228px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menuimg1 {
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -188px;
  }
}

.menu {
  position: relative;
  margin-top: 210px;
  background-color: #F6F6F6;
  height: 100%;
  border-radius: 35px 35px 0 0;
  padding-bottom: 30px;
}

@media only screen and (min-width: 992px) {
  .menu {
    height: 100%;
    margin-top: 500px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menu {
    margin-top: 400px;
  }
}

.menu .sectiontext {
  font-size: 16px;
  margin: 45px 0 15px 15px;
  padding-bottom: 5px;
  border-bottom: 3.5px solid #99E2D0;
  width: 40px;
}

.sectiontext1 {
  font-size: 16px;
  margin: 45px 0px 5px 15px;
}

.sectionborder {
  border-bottom: 3.5px solid #99E2D0;
  width: 40px;
  margin: 0px 0px 15px 15px;
}

.menucards {
  gap: 15px;
}

#restaurantname {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-size: 25px;
  margin: 0 35px -30px 15px;
  padding-top: 15px;
}

#restaurantname h2 {
  font-size: 27px;
  font-family: "Shrikhand", cursive;
  font-weight: 200;
  width: 250px;
}

@media only screen and (min-width: 992px) {
  #restaurantname h2 {
    width: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #restaurantname h2 {
    width: 300px;
  }
}

@media only screen and (min-width: 992px) {
  .menugroups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.orderbutton {
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  height: 52px;
  -webkit-box-shadow: 2px 3px 11px lightgray;
          box-shadow: 2px 3px 11px lightgray;
  width: 200px;
  margin: 50px;
  color: white;
}

.orderbutton a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.orderbutton:focus {
  opacity: 88%;
  -webkit-box-shadow: 2px 3px 11px silver;
          box-shadow: 2px 3px 11px silver;
}

@media only screen and (min-width: 992px) {
  .orderbutton:hover {
    opacity: 88%;
    -webkit-box-shadow: 2px 3px 11px silver;
            box-shadow: 2px 3px 11px silver;
  }
}

.menuitem {
  -webkit-box-shadow: 0 5px 5px #EAEAEA;
          box-shadow: 0 5px 5px #EAEAEA;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: white;
  border-radius: 15px;
  height: 70px;
  width: 345px;
}

.hovercheck {
  border-radius: 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #99E2D0;
  color: white;
  overflow: hidden;
  width: 0;
  height: 70px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  border-radius: 0 15px 15px 0;
  text-align: center;
}

.hovercheck .fa-check-circle {
  font-size: 20px;
  margin-top: 47%;
}

.menuitem:focus > .hovercheck {
  width: 80px;
  right: 0;
  left: 0;
}

.menuitem:focus > .hovercheck .fa-check-circle {
  -webkit-animation: loading .5s linear 1;
          animation: loading .5s linear 1;
}

@media only screen and (min-width: 992px) {
  .menuitem:hover > .hovercheck {
    width: 80px;
    right: 0;
    left: 0;
  }
  .menuitem:hover > .hovercheck .fa-check-circle {
    -webkit-animation: loading .5s linear 1;
            animation: loading .5s linear 1;
  }
}

.menuitem:focus > .itemdesc h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .menuitem:hover > .itemdesc h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.menuitem:focus > .itemdesc p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 992px) {
  .menuitem:hover > .itemdesc p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.menuitem .price {
  margin: 0 20px -8px 0;
}

.menuitem .price h4 {
  font-weight: 500;
}

.menuitem .itemdesc {
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.menuitem h3 {
  font-weight: 500;
  margin: 0;
  padding: 15px 10px 7px;
}

.menuitem p {
  font-size: 15px;
  margin: 0;
  padding: 0px 10px;
}

@-webkit-keyframes menuload {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: .2;
  }
  40% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
    opacity: .4;
  }
  60% {
    -webkit-transform: translateY(0.5%);
            transform: translateY(0.5%);
    opacity: .6;
  }
  80% {
    -webkit-transform: translateY(0.25%);
            transform: translateY(0.25%);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes menuload {
  0% {
    -webkit-transform: translateY(3%);
            transform: translateY(3%);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
    opacity: .2;
  }
  40% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
    opacity: .4;
  }
  60% {
    -webkit-transform: translateY(0.5%);
            transform: translateY(0.5%);
    opacity: .6;
  }
  80% {
    -webkit-transform: translateY(0.25%);
            transform: translateY(0.25%);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

.entrees {
  -webkit-animation: menuload 1s linear;
          animation: menuload 1s linear;
}

.maindish {
  -webkit-animation: menuload 1s linear 1;
          animation: menuload 1s linear 1;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.desserts {
  -webkit-animation: menuload 1s linear 1;
          animation: menuload 1s linear 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2eafb;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading::after {
  content: "";
  width: 50px;
  height: 50px;
  background: #f2eafb;
  border: 10px solid #99E2D0;
  border-top-color: #FF79DA;
  border-radius: 50%;
  margin: auto;
  -webkit-animation: loading 1s linear infinite;
          animation: loading 1s linear infinite;
}

@-webkit-keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@keyframes loading {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}

@-webkit-keyframes fadeout {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@keyframes fadeout {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.loading {
  -webkit-animation: fadeout 0s ease-in 2s forwards;
          animation: fadeout 0s ease-in 2s forwards;
}

header {
  z-index: 1;
  background-color: white;
}

@media only screen and (min-width: 992px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
  }
}

#location {
  background-color: #EAEAEA;
  -webkit-box-shadow: inset 0px 5px 10px -9px #353535;
          box-shadow: inset 0px 5px 10px -9px #353535;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  font-size: 16.5px;
  padding-top: 1px;
}

@media only screen and (min-width: 992px) {
  #location {
    padding-left: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 180px;
    height: 38px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#9356DC), color-stop(35%, #FF79DA), to(#99E2D0));
    background: linear-gradient(to right, #9356DC 0%, #FF79DA 35%, #99E2D0 100%);
    color: white;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

#location .fa-map-marker-alt {
  font-size: 110%;
}

#location h4 {
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  #location h4 {
    padding-right: 21px;
  }
}

#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
  padding: 20px 0px 10px 0px;
}

@media only screen and (min-width: 992px) {
  #logo {
    padding: 0;
    margin-left: 20px;
  }
}

#logo .fa-arrow-left {
  margin: 5px 10px 0 -10px;
}

#logo img {
  height: 28px;
}

#explore {
  background-color: #F6F6F6;
  height: 290px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0px 20px;
}

@media only screen and (min-width: 992px) {
  #explore {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #explore {
    width: 45%;
    height: 400px;
  }
}

#explore h2 {
  margin-bottom: 20px;
  margin-top: 0;
}

@media only screen and (min-width: 992px) {
  #explore h2 {
    margin-bottom: 10px;
  }
}

.explorebutton {
  color: white;
  margin-top: 15px;
  width: 222px;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 50px;
  border: none;
  height: 52px;
  -webkit-box-shadow: 2px 3px 11px lightgray;
          box-shadow: 2px 3px 11px lightgray;
}

.explorebutton a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.explorebutton:focus {
  opacity: 90%;
  -webkit-box-shadow: 2px 3px 11px silver;
          box-shadow: 2px 3px 11px silver;
}

@media only screen and (min-width: 992px) {
  .explorebutton:hover {
    opacity: 90%;
    -webkit-box-shadow: 2px 3px 11px silver;
            box-shadow: 2px 3px 11px silver;
  }
}

#instructions {
  height: 400px;
  padding-top: 30px;
}

@media only screen and (min-width: 992px) {
  #instructions {
    height: 196px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #instructions {
    width: 55%;
    height: 350px;
    padding-top: 20px;
  }
}

#instructions ul {
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 992px) {
  #instructions ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 38px;
  }
}

#instructions .instructionbuttons {
  background-color: #F6F6F6;
  border: none;
  height: 70px;
  width: 325px;
  border-radius: 22px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-left: 10px;
  -webkit-box-shadow: 2px 3px 11px lightgray;
          box-shadow: 2px 3px 11px lightgray;
}

#instructions li {
  margin-bottom: 25px;
}

#instructions li :focus {
  -webkit-box-shadow: 2px 3px 11px silver;
          box-shadow: 2px 3px 11px silver;
  background-color: #f2eafb;
}

#instructions li :focus .fas {
  color: #9356DC;
}

@media only screen and (min-width: 992px) {
  #instructions li :hover {
    -webkit-box-shadow: 2px 3px 11px silver;
            box-shadow: 2px 3px 11px silver;
    background-color: #f2eafb;
  }
  #instructions li :hover .fas {
    color: #9356DC;
  }
}

#instructions .fas {
  margin-top: 5px;
  font-size: 17px;
  padding-bottom: 5px;
  pointer-events: none;
}

#instructions .fa-mobile-alt {
  font-size: 20px;
}

#instructions button :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.instructionbuttons span {
  background-color: #9356DC;
  border-radius: 50px;
  height: 20px;
  width: 25px;
  padding-top: 5px;
  font-size: 15px;
  color: white;
  margin-left: -16px;
  pointer-events: none;
}

#instructions h2 {
  margin-left: 18.5px;
  margin-bottom: 22px;
}

@media only screen and (min-width: 992px) {
  #instructions h2 {
    margin-left: 38px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .exploreinstructions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#Restaurants {
  background-color: #F6F6F6;
  height: 1200px;
  padding-top: 35px;
}

@media only screen and (min-width: 992px) {
  #Restaurants {
    height: 668px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #Restaurants {
    height: 668px;
    -webkit-box-shadow: inset 0px 5px 10px 2px #EAEAEA;
            box-shadow: inset 0px 5px 10px 2px #EAEAEA;
  }
}

#Restaurants h2 {
  margin-left: 18.5px;
}

@media only screen and (min-width: 992px) {
  #Restaurants h2 {
    margin: 5px 0px 27px 38px;
  }
}

#Restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
}

#Restaurants .restaurantcardimg1 img {
  -o-object-position: 0px -150px;
     object-position: 0px -150px;
}

#Restaurants .restaurantcard {
  background-color: white;
  -webkit-box-shadow: 0 5px 5px #EAEAEA;
          box-shadow: 0 5px 5px #EAEAEA;
  height: 250px;
  width: 338px;
  border-radius: 20px;
}

@media only screen and (min-width: 992px) {
  #Restaurants .restaurantcard {
    margin: 0 28px 45px 28px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #Restaurants .restaurantcard {
    margin-bottom: 28px;
  }
}

.new {
  position: relative;
  margin-left: 260px;
}

.new #new1 {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
}

@media only screen and (min-width: 992px) {
  .new #new1 {
    margin-left: 57px;
    margin-top: 22px;
  }
}

.new #new2 {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  margin-top: 280px;
}

@media only screen and (min-width: 992px) {
  .new #new2 {
    margin-left: 452px;
    margin-top: 22px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .new #new2 {
    margin-left: 378px;
    margin-top: 14px;
  }
}

#restaurantcards {
  gap: 18px;
}

@media only screen and (min-width: 992px) {
  #restaurantcards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0px;
    padding: 10px 45px 0px 45px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #restaurantcards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    gap: 8px;
  }
}

.new {
  position: relative;
}

.restaurantcarddetails {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px 15px;
}

.restaurantcarddetails1 h3 {
  margin-bottom: 5px;
}

.restaurantcarddetails1 p {
  margin-top: 0px;
}

.restaurantcarddetails2 {
  font-size: 25px;
}

.heartbutton {
  border: none;
  background-color: transparent;
}

.heartbutton .fas {
  visibility: hidden;
  color: white;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.heartbutton:focus .far {
  display: none;
}

.heartbutton:focus .fas {
  visibility: visible;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@media only screen and (min-width: 992px) {
  .heartbutton:hover .far {
    display: none;
  }
  .heartbutton:hover .fas {
    visibility: visible;
    -webkit-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
    background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

footer {
  height: 200px;
  color: white;
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 0 25px;
}

@media only screen and (min-width: 992px) {
  footer {
    height: 128px;
    padding-top: 10px;
  }
}

footer div {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}

@media only screen and (min-width: 992px) {
  footer div {
    margin-left: 15px;
  }
}

footer ul {
  padding: 0;
  color: white;
  list-style: none;
}

@media only screen and (min-width: 992px) {
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 38px;
    margin-left: 15px;
  }
}

footer ul a {
  color: white;
  font-size: 16px;
}

footer ul li {
  margin-top: 8px;
}

footer ul .fas {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */