@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Shrikhand&display=swap");
.flexcenter, header, #explore, #instructions ul, #restaurantcards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 767px) {
  header #location {
    background-color: #EAEAEA;
    -webkit-box-shadow: inset 0px 5px 10px -9px #353535;
            box-shadow: inset 0px 5px 10px -9px #353535;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    font-size: 16.5px;
    padding-top: 1px;
  }
  header #location .fa-map-marker-alt {
    font-size: 110%;
  }
}

@media only screen and (max-width: 767px) {
  #logo {
    padding: 20px 0px 10px 0px;
  }
  #logo img {
    height: 28px;
  }
}

@media only screen and (max-width: 767px) {
  #explore {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #F6F6F6;
    height: 290px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0px 20px;
  }
  #explore h2 {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

.explorebutton {
  margin-top: 15px;
  border: none;
  height: 52px;
  width: 222px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 3px 11px lightgray;
          box-shadow: 2px 3px 11px lightgray;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
}

.explorebutton a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.explorebutton a :hover {
  -webkit-box-shadow: 2px 3px 11px silver;
          box-shadow: 2px 3px 11px silver;
}

#instructions {
  height: 400px;
  padding-top: 30px;
}

#instructions ul {
  list-style: none;
  padding: 0;
}

#instructions .instructionbuttons {
  background-color: #F6F6F6;
  border: none;
  height: 70px;
  width: 325px;
  border-radius: 22px;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  margin-left: 10px;
  -webkit-box-shadow: 2px 3px 11px lightgray;
          box-shadow: 2px 3px 11px lightgray;
}

#instructions li {
  margin-bottom: 25px;
}

#instructions li :hover {
  -webkit-box-shadow: 2px 3px 11px silver;
          box-shadow: 2px 3px 11px silver;
  background-color: #f2eafb;
}

#instructions li .fas {
  margin-top: 5px;
  font-size: 17px;
  padding-bottom: 5px;
  pointer-events: none;
}

#instructions li .fa-mobile-alt {
  font-size: 20px;
}

#instructions li button :hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.instructionbuttons p {
  background-color: #9356DC;
  border-radius: 50px;
  height: 20px;
  width: 25px;
  padding-top: 6px;
  font-size: 15px;
  color: white;
  margin-left: -16px;
  pointer-events: none;
}

#instructions h2 {
  margin-left: 18.5px;
  margin-bottom: 22px;
}

#Restaurants {
  background-color: #F6F6F6;
}

@media only screen and (max-width: 767px) {
  #Restaurants {
    height: 1220px;
    padding-top: 35px;
  }
  #Restaurants h2 {
    margin-left: 18.5px;
  }
  #Restaurants img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
    width: 100%;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
  }
  #Restaurants .restaurantcardimg1 img {
    -o-object-position: 0px -150px;
       object-position: 0px -150px;
  }
  #Restaurants .restaurantcard {
    background-color: white;
    -webkit-box-shadow: 0 5px 5px #EAEAEA;
            box-shadow: 0 5px 5px #EAEAEA;
    height: 250px;
    width: 338px;
    border-radius: 20px;
  }
}

.new {
  position: relative;
  margin-left: 260px;
}

.new #new1, .new #new2 {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  width: 80px;
  height: 22px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
}

#restaurantcards {
  gap: 18px;
}

.new {
  position: relative;
}

.restaurantcarddetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px 15px;
}

.restaurantcarddetails1 h3 {
  margin-bottom: 5px;
}

.restaurantcarddetails1 p {
  margin-top: 0px;
}

.restaurantcarddetails2 {
  font-size: 25px;
}

.restaurantcarddetails2 .heartbutton {
  border: none;
  background-color: white;
}

.restaurantcarddetails2 .heartbutton .fas {
  display: none;
}

.restaurantcarddetails2 .heartbutton:active .far {
  display: none;
}

.restaurantcarddetails2 .heartbutton:active .fas {
  display: inline;
}

footer {
  height: 200px;
  color: white;
}

@media only screen and (max-width: 767px) {
  footer {
    background-color: #353535;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 0 25px;
  }
  footer div {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
  }
  footer ul {
    padding: 0;
    color: white;
    list-style: none;
  }
  footer ul a {
    color: white;
    font-size: 16px;
  }
  footer ul li {
    margin-top: 8px;
  }
  footer ul .fas {
    margin-right: 10px;
  }
}

a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */