footer {height: 200px;
        color: white;
    @media only screen and (max-width : 767px) {
    background-color: $dark-gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 25px;
    div {font-family: $logo-font;
        font-size: 18px;
    }
    ul {padding: 0;
    color: white;
    list-style: none;
        a {color: white;
            font-size: 16px;
        }
        li {margin-top: 8px;}
}
}
}