header {@extend .flexcenter;
    @media only screen and (max-width : 767px) {
    #location {background-color: $medium-gray;
        box-shadow: inset 0px 5px 10px -9px #353535;
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 15px;
        font-size: 16.5px;
        padding-top: 1px;
            .fa-map-marker-alt {font-size: 110%;}
        }
    }
}

#logo {
    @media only screen and (max-width : 767px) {
        padding: 20px 0px 10px 0px;
            img {height: 28px;};

    }
}