@mixin box-shadow ($color) {
    -webkit-box-shadow: inset 0px 5px 10px -9px $color;
    -moz-box-shadow: inset 0px 5px 10px -9px $color;
    box-shadow: inset 0px 5px 10px -9px $color;
}


  //         box-shadow: inset 0px 5px 10px -9px #353535;